target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

node_modules/
.angular/
dist/
.editorconfig
.browserslistrc
auth.json

.vscode/
.idea/
*.swp
*.iml
*.iws
.project
.classpath
.settings/
bin/

.DS_Store
Thumbs.db

.env